@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 10%;
    --foreground: 0 0% 100%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 100%;

    --primary: 187 99% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 187 50% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 187 20% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 187 30% 25%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 187 20% 20%;
    --input: 187 20% 20%;
    --ring: 187 99% 32%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(
      135deg,
      rgb(1, 95, 103) 0%,
      #137a88 25%,
      #196568 50%,
      #008e96 75%,
      #114a74 100%
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
